<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="">
<link rel="Bookmark" href=""> <!-- 收藏夹中的图-->
<link rel="shortcut icon" href="" > <!-- 地址栏前面的图标 -->
<title>图有利</title>
<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}reset.css" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}style.css" />
<script type="text/javascript" src="{$smarty.const.JS_URL}jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.JS_URL}t.v.code.js"></script>
<script>
</script>
<!--[if lte IE 6]>
<script src="{$smarty.const.JS_URL}DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
<script type="text/javascript">
DD_belatedPNG.fix('img,div,ul,li,input,a,span,h3,form,dt,dl,dl');
</script>
<![endif]-->
<style type="text/css">
{literal}
<!--
.STYLE26 {font-size: 14px}
.STYLE27 {color: #333333}
.STYLE28 {color: #1c9ddb}
.STYLE30 {font-size: 14px; color: #787878; }
.STYLE31 {font-size: 14px; color: #333333; }
.STYLE33 {color: #787878}
-->
{/literal}
</style>
</head>
<body>	
<!--头部-->
<div class="top">
   <div class="box clearfix">
     
          {if $smarty.session.userdata.user_id}
            <div class="nin">
             您好! UID:{$smarty.session.userdata.user_id}&nbsp;
            <strong><a href="user.html" alt="点击去个人中心" style="color:red">
            {$smarty.session.userdata.nick_name}</a>
            </strong> 
            &nbsp;{$smarty.session.userdata.user_grade}
            </div>
            {/if}
                  <span class="bang-sp">
                今日&nbsp;RAC:{$smarty.session.newdata.newRac.price|string_format:"%.6f"}
                &nbsp;GXB:{$smarty.session.newdata.newGxb.price|string_format:"%.6f"}
              </span>
             <div class="bang">
            <span>
                <a href="help.html">帮助中心</a>|
                <a href="{$smarty.const.ACCESS_URL_INDEX}callus">联系我们</a>|
                <a href="javascript:;" class="fa fa-power-off"></a>
                <a href="{$smarty.const.ACCESS_URL_USER}logout">退出</a>
            </span>
            </div>
   </div>
</div>
<div class="box clearfix">
   <div class="logo"><a href=""><img src="{$smarty.const.IMG_URL}logo.png"/></a></div>
   <div class="dao">
      <ul class="shou clearfix">
	     <li><a href="{$smarty.const.ACCESS_URL_INDEX}index">首页</a></li>
     <li><a href="{$smarty.const.ACCESS_URL_INDEX}trade?t=1">交易中心</a></li>
     <li class="diy"><a href="{$smarty.const.ACCESS_URL_INDEX}financial?t=4">财务中心</a></li>
     <li><a href="{$smarty.const.ACCESS_URL_INDEX}wallet">钱包</a></li>
     <li><a href="{$smarty.const.ACCESS_URL_INDEX}market?t=1">集市</a></li>
     <li><a href="{$smarty.const.ACCESS_URL_INDEX}compose_gxb.html">合成贡献宝</a></li>
     <li><a href="{$smarty.const.ACCESS_URL_INDEX}package?t=1">抢红包</a></li>
     <li><a href="{$smarty.const.ACCESS_URL_INDEX}real?t=1">实时行情</a></li>
     <li><a href="{$smarty.const.ACCESS_URL_SHOP}index">商城</a></li>
	  </ul>
   </div>
 <div class="chan">
 <a id="a" href="" style="color:grey" hover="this.style.color='red'"><img src="{$smarty.const.IMG_URL}/r3.png" />&nbsp; 我的资产 &or;</a>
 <div id="ifrmMyasset"></div>
 <script>$('#ifrmMyasset').load('myasset.html');</script>
 </div>
</div>
<!--头部结束-->
<!--中部-->
<div class="zhong">
   <div class="box clearfix">
      <div class="xiao">
	     <ul class="ming clearfix">
		      <li><a href="{$smarty.const.ACCESS_URL_INDEX}financial?t=1">人民币充值</a></li>
          <li><a href="{$smarty.const.ACCESS_URL_INDEX}financial?t=3">人民币提现</a></li>
          <li><a href="{$smarty.const.ACCESS_URL_INDEX}financial?t=4">个人财务</a></li>
          <li><a href="{$smarty.const.ACCESS_URL_INDEX}financial?t=5&b=1">账单明细</a></li>
          <li><a href="{$smarty.const.ACCESS_URL_INDEX}financial?t=6">收益明细</a></li>
          <li class="min"><a href="{$smarty.const.ACCESS_URL_INDEX}financial?t=13">淘金果园</a></li>
		 </ul>
	  </div>
	  <div class="mbi clearfix">
         <!--左-->
		 <div class="mzuo">
		    <div class="zhu"><a href="http://www.taojingy.com"><img src="{$smarty.const.IMG_URL}tt.png"/></a></div>
			<div class="tixin clearfix">
			   <div class="thao"><img src="{$smarty.const.IMG_URL}t2.png"/></div>
			   <div class="zhmi">为了您的账户安全，请不要泄露交易密码<span></span>、<span></span>实际到账时间可能会有所延迟。有什么意见或者建议请联系客服，感谢您的支持。</div>
			</div>
		 </div>
		 <!--左结束-->
		 <!--右-->
		 <div class="myou">
	         <table width="100%" height="317" border="0">
               <tr>
                 <td height="38" colspan="2"><span class="STYLE26"><span class="STYLE27">提出RAC到淘金果园：</span><span style="color:red">{$msg}</span></span></td>
               </tr>
                <form id="myform" name="myform" method="post" action="{$smarty.const.ACCESS_URL_INDEX}taojin">
               <tr>
                 <td width="23%" height="59"><span class="STYLE31" style="font-size:12px">果园钱包地址：</span></td>
                 <td width="77%"><input class="baio" type="text" name="add" /></td>
               </tr>
               <tr>
                 <td height="50" ><span class="STYLE31">提出数量：</span></td>
                 <td>
                  <input class="bie" type="text" name="count"/> 您今日可转币量为：{$amount}R
                </td>
               </tr>
               <tr>
                 <td height="60"><span class="STYLE31"  style="font-size:12px">交 易 密 码：</span></td>
                 <td><input class="baio" type="password" name="trade_pwd" /></td>
               </tr>
               
               <tr>
                 <td>&nbsp;</td>
                 <!-- <td><input type="submit" class="tjo"  value="确认提出" /></td> -->
                <td> <input type="button" name="btn" value="确认提出"  class="tjo" onclick="test()" /></td>
               </tr>
               </form>
             </table>
           
		 </div>
		 <!--右结束-->
	  </div>
	  <div class="jine_a">
	      <div class="xiao">
			 <ul class="ming clearfix">
				<li class="min"><a href="">最近记录</a></li>
			 </ul>
		  </div>
		  <div class="xji">
	        <form id="form2" name="form2" method="post" action="">
	          <table width="100%" height="250">
              {if $list!=null}
                <tr>
                  <td height="49" align="center" valign="middle" bgcolor="#e0e0e0"><span class="STYLE31">帐单号 </span></td>
                  <td align="center" valign="middle" bgcolor="#e0e0e0"><span class="STYLE31">钱包地址</span></td>
                   <td align="center" valign="middle" bgcolor="#e0e0e0"><span class="STYLE31">提币类型</span></td>
                  <td align="center" valign="middle" bgcolor="#e0e0e0"><span class="STYLE31">提币数量</span></td>
                  <td align="center" valign="middle" bgcolor="#e0e0e0"><span class="STYLE31">手续费 </span></td>
                  <td align="center" valign="middle" bgcolor="#e0e0e0"><span class="STYLE31">提币时间 </span></td>
                  <td align="center" valign="middle" bgcolor="#e0e0e0"><span class="STYLE31">状态</span></td>
                </tr>
                {else}<br/><br/>
                  <p>&nbsp;&nbsp;&nbsp;没有记录</p>
                  {/if}
                 {foreach $list as $k => $v}
                 <tr>
                  <td align="center" valign="middle"><span class="STYLE30">{$v.id}</span></td>
                  <td align="center" valign="middle"><span class="STYLE30">{$v.add}</span></td>
                  <td align="center" valign="middle"><span class="STYLE30">{if $v.type==1}提出{else if $v.type==0}转入{/if}</span></td>
                  <td align="center" valign="middle"><span class="STYLE30">R{$v.amount}</span></td>
                  <td align="center" valign="middle"><span class="STYLE30">R0</span></td>
                  <td align="center" valign="middle"><span class="STYLE30">{$v.c_time}</span></td>
                  <td align="center" valign="middle"><span class="STYLE30">{if $v.status==1}提出未成功{else if $v.status==2}提出成功{/if}</span></td>
                </tr>
               {/foreach}
              </table>
            </form>
		  </div>
	  </div>

     <div class="fye">
       <div class="page_nav">
        {$pageList}
       </div>
     </div>
    </div>
   </div>
</div>
<!--中部结束-->
<!--低部-->
<div class="bottom">
   <div class="box clearfix">
      <div class="dida"><a href="">关于我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">联系我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">常见问题</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">手续费</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">服务条款</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">招聘英才</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">图有利用户协议</a></div>
	  <div class="ban">2015-2016 tuyouli.cn Inc. All Rights Reserved. Powered by  {$smarty.session.beian}<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258023342'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258023342%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>
   </div>
</div>
<!--低部结束-->
<script>

function test()
{
	if(confirm('此次提出升值币暂时不可逆转，并且只能用于游戏钻石兑换，是否确认操作？')) 
	    { 
		    document.getElementById("myform").submit();  
	        return true; 
	    } 
	    return false; 
}
</script>
<div class="lanrenzhijia_service">
  <ul>
    <span class="right_bar"></span>
    <a href="http://wpa.qq.com/msgrd?v=3&uin=1157438691&site=qq&menu=yes" class="right_qq" target="_blank"></a>
    <span class="right_phone">4006-825-078</span>
  </ul>
</div>
{literal}
<script>
$(function(){
	$(".lanrenzhijia_service").hover(function(){
		$(this).animate({width:'160px'});
	},function(){
		$(this).animate({width:'40px'});
	});
});
</script>
{/literal}
</body>
</html>