<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}reset.css">
    <style type="text/css">
    {literal}
	.bigbody{width:100%;}
	.minbody{width:1204px;margin:50px auto;}
	h1{width:100%;text-align:center;}
	.minbody .part{display:block;margin-top:50px;}
	h2{margin-bottom:20px;}
	h3{margin-bottom:5px;margin-top:5px;}
	ul{padding:0 50px;}
	.part>ul>li{display:block;line-height:30px;text-align:justify;}
	.part>ul>li p{display:inline-block;margin-right:20px;}
	.part>ul>ul{margin-top:10px;}
	.part>ul>ul>li{display:block;line-height:30px;text-align:justify;}
	.part>ul>ul>li p{display:inline-block;margin-right:20px;}
	.agreen{display:block;margin:50px auto;;width:200px;}
	.agreen input{display:inline-block;}
	.agreen p{display:inline-block;}
	.agreen button{display:block;width:200px;height:30px;margin-top:20px;background:rgba(28,157,219,1);border:none;color:#fff;}
	.agreen button:hover{box-shadow:0 0 5px rgba(20,80,120,1) inset;}
    {/literal}
    </style>
</head>
<body>
    <div class="bigbody">
        <div class="minbody">  
            <h1>《图有利用户协议》</h1>
            <div class="part">
                <h2>一、总则</h2>
                <ul>
                    <li><p>1.1</p>用户在使用图有利平台服务前，应当仔细阅读《图有利用户协议》（以下简称“本协议”）的全部内容，对于本协议中的加重字体、斜体、下划线、颜色标记等条款需重点阅读、理解。</li>
                    <li><p>1.2</p>用户应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"注册"按钮即表示用户与图有利达成以下协议，完全接受本协议项下的全部条款，本协议即在用户与图有利之间产生法律效力，对双方均具有法律约束力。</li>
                    <li><p>1.3</p>用户注册成功后，图有利将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</li>
                    <li><p>1.4</p>图有利用户协议、各个单项服务条款、全部活动条款及公告可由图有利随时更新，且无需另行通知。图有利有权对上述条款进行修改，修改后的协议一旦公布即有效替代原有协议。用户可随时查询最新协议。用户在使用图有利提供的各项服务之前，应仔细阅读本协议及本协议不可分割的各项服务协议。用户在使用相关服务时,应关注并遵守其所适用的相关条款。用户如不同意本用户协议及/或随时对其的修改，可以主动取消图有利提供的服务；用户一旦使用图有利服务，即视为用户已了解并完全同意本协议及其他服务条款中的各项内容，包括图有利对本协议及其他服务条款随时所做的任何修改，并成为图有利用户。
                图有利与用户共同确认：</li>
                    <li><p>1.5</p>本协议内容包括本协议正文以及图有利已经发布的或将来可能发布的各类规则、声明、说明。 所有规则、声明、说明为协议不可分割的一部分，与协议正文具有同等法律效力。</li>
                    <li><p>1.6</p>本协议不涉及图有利用户与其他用户之间因升值币交易而产生的法律关系及法律纠纷。</li>
                </ul>
            </div>
            <div class="part">
                <h2>二、定义条款</h2>
                <ul>
                    <li><p>2.1</p> 图有利是运营和管理升值币的平台。</li>
                    <li><p>2.2</p> “升值币”：一种国际上目前通行的虚拟货币资产。</li>
                    <li><p>2.3</p> “图有利”：德阳宝睿科技有限公司运营和管理的升值币交易平台，域名为www.tuyouli.com, 德阳宝睿科技有限公司通过该网络交易平台为升值币玩家提供进行升值币的网络交易平台服务。 本协议下文中，“图有利”既指网络交易平台（www.tuyouli.com），亦指德阳宝睿科技有限公司。</li>
                    <li><p>2.4</p> “用户”：接受并同意本协议全部条款及图有利不时发布和更新的法律条款和操作规则、通过图有利平台进行升值币交易的注册会员。</li>
                    <li><p>2.5</p>“用户注册”：用户注册是指用户登录图有利，并按要求填写相关信息并确认同意履行相关用户协议的过程。</li>
                    <li><p>2.6</p>“升值币交易”：用户之间通过图有利平台进行的升值币交易活动。</li>
                    <li><p>2.7</p>“充值款”：用户之间购买升值币/出售升值币而向图有利平台预充入的人民币的款项。</li>
                    <li><p>2.8</p>“手续费”：用户在图有利达成升值币交易而向图有利支付的交易服务费用。</li>
                </ul>
            </div>
            <div class="part">
                <h2>三、用户注册</h2>
                <ul>
                    <li><h3><p>3.1</p>注册资格</h3><span>用户承诺：用户具有完全民事权利能力和行为能力，或虽不具有完全民事权利能力和行为能力,但点击同意注册按钮， 本网即视为经其法定代理人同意并由其法定代理人代理注册及应用图有利服务。</span></li>
                    <li><h3><p>3.2</p>注册目的</h3><span>用户承诺：用户进行用户注册并非出于违反法律法规或破坏图有利升值币交易秩序的目的。。</span></li>
                    <li>
                        <h3><p>3.3</p>注册流程</h3>用户承诺：用户具有完全民事权利能力和行为能力，或虽不具有完全民事权利能力和行为能力,但点击同意注册按钮， 本网即视为经其法定代理人同意并由其法定代理人代理注册及应用图有利服务</li>
                    <li><p>3.3.1</p>用户同意根据图有利用户注册页面的要求提供有效电子邮箱等信息，设置图有利账号及密码，用户应确保所提供全部信息的真实性、完整性和准确性。</li>
                    <li><p>3.3.2</p>用户合法、完整并有效提供注册所需信息的，有权获得图有利账号和密码，图有利账号和密码用于用户在图有利进行会员登录。</li>
                    <li><p>3.3.3</p>用户获得图有利账号及密码时视为用户注册成功，用户同意接收图有利发送的与图有利网站管理、运营相关的电子邮件和/或短消息。</li>
                    <li><p>3.3.4</p> 用户注册成功后进行升值币交易，应当提供本人的真实身份证号码，进行实名认证。</li> 
                </ul>
            </div>
            <div class="part">
    
                <h2>四、用户服务</h2>
                
                <ul> 
                    <span>图有利为用户通过图有利进行升值币交易活动提供网络交易平台服务。图有利不作为买家或是卖家参与买卖升值币行为本身。</span>  
                    <li><h3><p>4.1</p>服务内容</h3></li>
                    <li><p>4.1.1</p>用户有权在图有利浏览升值币实时行情及交易信息、有权通过图有利提交升值币交易指令并完成升值币交易。</li>
                    <li><p>4.1.2</p>用户有权在图有利查看其图有利会员账号下的信息，有权应用图有利提供的功能进行操作。</li>
                    <li><p>4.1.3</p>用户有权按照图有利发布的活动规则参与图有利组织的网站活动。</li>
                    <li><p>4.1.4</p>图有利承诺为用户提供的其他服务。</li>
                    <li><h3><p>4.2</p>服务规则</h3></li>
                    <ul>
                        <li>用户承诺遵守下列图有利服务规则：</li>
                        <li><p>4.2.1</p> 用户应当遵守法律法规、规章、规范性文件及政策要求的规定，保证账户中所有资金和升值币来源的合法性， 不得在图有利或利用图有利服务从事非法或其他损害图有利或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息， 发送或接收传销材料或存在其他危害的信息或言论，未经图有利授权使用或伪造图有利电子邮件题头信息等。</li>
                        <li><p>4.2.2</p>用户应当遵守法律法规应当妥善使用和保管其图有利账号及密码、资金密码、和其注册时绑定的手机号码、以及手机接收的手机验证码的安全。 用户对使用其图有利账号和密码、资金密码、手机验证码进行的任何操作和后果承担全部责任。 当用户发现图有利账号、密码、或资金密码、验证码被未经其授权的第三方使用，或存在其他账号安全问题时，应立即有效通知图有利，要求图有利暂停该图有利账号的服务。 图有利有权在合理时间内对用户的该等请求采取行动，但对图有利采取行动前用户已经遭受的损失不承担任何责任。 用户在未经图有利同意的情况下不得将图有利账号以赠与、借用、租用、转让或其他方式处分给他人。</li>
                        <li><p>4.2.3</p>用户应当遵守图有利不时发布和更新的用户协议以及其他服务条款和操作规则。</li>
                    </ul>
                </ul>
            </div>
            <div class="part">
                <h2>五、升值币交易规则</h2>
                <span> 用户承诺在其进入图有利交易，通过图有利与其他用户进行升值币交易的过程中良好遵守如下图有利升值币交易规则。</span>
               <ul>
                   <li><h3><p>5.1</p>浏览交易信息</h3><span>用户在图有利浏览升值币交易信息时，应当仔细阅读交易信息中包含的全部内容，包括但不限于升值币价格、委托量、手续费、买入或卖出方向， 用户完全接受交易信息中包含的全部内容后方可点击按钮进行交易。</span></li>
                   <li><h3><p>5.2</p>提交委托</h3><span>在浏览完交易信息确认无误之后用户可以提交交易委托。用户提交交易委托后， 即用户授权图有利代理用户进行相应的交易撮合，图有利在有满足用户委托价格的交易时将会自动完成撮合交易而无需提前通知用户。</span></li>
                   <li><h3><p>5.3</p>查看交易明细</h3><span>用户可以通过管理中心的交易明细中查看相应的成交记录，确认自己的详情交易记录。</span></li>
                   <li><h3><p>5.4</p>撤销/修改委托</h3><span>在委托未达成交易之前，用户有权随时撤销或修改委托。</span></li>
               </ul>
            </div>
            <div class="part">
                <h2>六、用户的权利和义务</h2>
                <ul>
                    <li><p>6.1</p>用户有权按照本协议约定接受图有利提供的升值币交易平台服务。</li>
                    <li><p>6.2</p>用户有权随时终止使用图有利服务。</li>
                    <li><p>6.3</p>用户有权随时提取在图有利的资金余额，包括人民币以及升值币，但需向图有利支付相应的提现手续费用。</li>
                    <li><p>6.4</p>用户对注册时提供的个人资料的真实性、有效性及安全性负责。</li>
                    <li><p>6.5</p>用户在图有利进行升值币交易时不得恶意干扰升值币交易的正常进行、破坏交易秩序。</li>
                    <li><p>6.6</p>用户不得以任何技术手段或其他方式干扰图有利的正常运行或干扰其他用户对图有利服务的使用。</li>
                    <li><p>6.7</p>如用户因网上交易与其他用户产生诉讼的，不得通过司法或行政以外的途径要求图有利提供相关资料。</li>
                    <li><p>6.8</p>用户不得以虚构事实等方式恶意诋毁图有利的商誉。</li>
                </ul>
            </div>
            <div class="part">
                <h2>七、图有利的权利和义务</h2>
                <ul>
                    <li><p>7.1</p>如用户不具备本协议约定的注册资格，则图有利有权拒绝用户进行注册，对已注册的用户有权注销其图有利会员账号， 图有利因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时，图有利保留其他任何情况下决定是否接受用户注册的权利。</li>
                    <li><p>7.2</p>图有利发现账户使用者并非账户初始注册人时，有权中止该账户的使用。</li>
                    <li><p>7.3</p>图有利通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供图有利服务。</li>
                    <li><p>7.4</p>图有利有权在发现图有利上显示的任何信息存在明显错误时，对信息予以更正。</li>
                    <li><p>7.5</p>图有利保留随时修改、中止或终止图有利服务的权利，图有利行使修改或中止服务的权利不需事先告知用户， 图有利终止图有利一项或多项服务的，终止自图有利在网站上发布终止公告之日生效。</li>
                    <li><p>7.6</p>图有利应当采取必要的技术手段和管理措施保障图有利的正常运行，并提供必要、可靠的交易环境和交易服务，维护升值币交易秩序。</li>
                    <li><p>7.7</p>如用户连续一年未使用图有利会员账号和密码登录图有利，则图有利有权注销用户的图有利账号。账号注销后，图有利有权将相应的会员名开放给其他用户注册使用。</li>
                    <li><p>7.8</p>图有利通过加强技术投入、提升安全防范等措施保障用户的人民币资金及升值币托管安全，有义务在用户资金出现可以预见的安全风险时提前通知用户。</li>
                    <li><p>7.9</p>图有利有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用图有利服务期间的全部交易信息，但不得非法使用该等信息。</li>
                    <li><p>7.10</p>图有利有权随时删除图有利网站内各类不符合国家法律法规、规范性文件或图有利网站规定的用户评价等内容信息，图有利行使该等权利不需提前通知用户。</li>
                </ul>
            </div>
            <div class="part">
                <h2>八、特别声明</h2>
                <ul>
                    <li><p>8.1</p>在法律允许的范围内，不论在何种情况下，图有利对由于信息网络设备维护、信息网络连接故障、电脑、通讯 或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、 司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，以及用户因此而遭受的损失不承担责任。</li>
                    <li><p>8.2</p>本网站的宗旨是在不违反中华人民共和国法律法规的前提下，尽可能地为中国广大升值币爱好者及投资者提供专业的国际化水准的交易平台和金融产品。 禁止使用本网站从事洗钱、走私、商业贿赂等一切非法交易活动，若发现此类事件，本站将冻结账户，立即报送公安机关。</li>
                    <li><p>8.3</p>当公安机关、检察院、法院等有权机关出示相应的调查文件要求本站配合对指定用户进行调查时， 或对用户账户采取查封、冻结或者划转措施时，本站将按照公安机关的要求协助提供相应的用户数据，或进行相应的操作。 因此而造成的用户隐私泄露、账户不能操作及因此给所造成的损失等，本站不承担任何责任。</li>
                    <li><p>8.4</p>本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，本站做为服务的提供方，有义务对平台的规则及服务进行完善， 但本站并无触犯中华人民共和国法律的动机和事实，对使用者的行为不承担任何连带责任。</li>
                    <li><p>8.5</p>凡以任何方式登陆本网站或直接、间接使用本网站服务者，视为自愿接受本网站声明的约束。</li>
                    <li><p>8.6</p>本声明未涉及的问题参见中华人民共和国有关法律法规，当本声明与中华人民共和国法律法规冲突时，以中华人民共和国法律法规为准。</li>
                </ul>
            </div>
            <div class="part">
                <h2>九、知识产权</h2>
                <ul>
                    <li><p>9.1</p>图有利所包含的全部智力成果包括但不限于网站标志、数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合， 软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归图有利所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。</li>
                    <li><p>9.2</p>图有利名称中包含的所有权利 (包括但不限于商誉和商标、标志) 均归德阳宝睿科技有限公司所有。</li>
                    <li><p>9.3</p>用户接受本协议即视为用户主动将其在图有利发表的任何形式的信息的著作权， 包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权 以及应当由著作权人享有的其他可转让权利无偿独家转让给图有利所有，图有利有权利就任何主体侵权单独提起诉讼并获得全部赔偿。 本协议属于《中华人民共和国著作权法》第二十五条规定的书面协议，其效力及于用户在图有利发布的任何受著作权法保护的作品内容， 无论该内容形成于本协议签订前还是本协议签订后。
                    </li>
                    <li><p>9.4</p>用户在使用图有利服务过程中不得非法使用或处分图有利或他人的知识产权权利。用户不得将已发表于图有利的信息以任何形式发布或授权其它网站（及媒体）使用。
                    </li>
                </ul>
            </div>
            <div class="part">
                <h2>十、客户服务</h2>
                <ul>
                    <li><p>10.1</p>图有利建立专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障用户提问及投诉渠道的畅通，为用户提供及时的疑难解答与投诉反馈。</li>
                </ul>
            </div>
            <div class="part">
                <h2>十一、协议的变更和终止</h2>
                <ul>
                    <li><p>11.1</p></li>
                    <li><h3><p>11.2协议的终止</p></h3></li>
                    <li><p>11.2.1</p>图有利有权依据本协议约定注销用户的图有利账号，本协议于账号注销之日终止。</li>
                    <li><p>11.2.2</p>图有利有权依据本协议约定终止全部图有利服务，本协议于图有利全部服务终止之日终止。</li>
                    <li><p>11.2.3</p>本协议终止后，用户无权要求图有利继续向其提供任何服务或履行任何其他义务，包括但不限于要求图有利为用户保留或向用户披露其原图有利账号中的任何信息， 向用户或第三方转发任何其未曾阅读或发送过的信息等。</li>
                    <li><p>11.2.4</p>本协议的终止不影响守约方向违约方追究违约责任。</li>
                </ul>
            </div>
            
            <div class="part">
    
                <h2>十二、隐私权政策</h2>
                <ul>
                    <li><h3><p>12.1.适用范围</p></h3></li>
                    <li><p>12.1.1</p>在用户注册图有利账号或者支付账户时，用户根据图有利要求提供的个人注册信息，包括但不限于身份证信息。</li>
                    <li><p>12.1.2</p>在用户使用图有利服务时，或访问图有利网页时，图有利自动接收并记录的用户浏览器上的服务器数值，包括但不限于IP地址等数据及用户要求取用的网页记录。</li>
                    <li><p>12.1.3</p>图有利收集到的用户在图有利进行交易的有关数据，包括但不限于出价、购买等记录。</li>
                    <li><p>12.1.4</p>图有利通过合法途径取得的其他用户个人信息。</li>
                    <li><h3><p>12.2信息使用</p></h3></li>
                    <li><p>12.2.1</p>图有利不会向任何人出售或出借用户的个人信息，除非事先得到用户的许可。图有利也不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人信息。</li>
                    <li><p>12.3</p>图有利对所获得的客户身份资料和交易信息进行保密，不得向任何单位和个人提供客户身份资料和交易信息，法律法规另有规定的除外。
                    </li>
                </ul>
            </div>
            
            
            
            <div class="part">
                <h2>十三、反洗钱</h2>
                <ul>
                    <li><p>13.1</p>图有利遵守和执行《中华人民共和国反洗钱法》的规定，对用户进行身份识别、客户身份资料和交易记录保存制度，以及大额的和可疑交易报告的制度。</li>
                    <li><p>13.2</p>用户注册、挂失交易密码或者资金密码时，应当提供并上传身份证复印件，图有利对用户提供的身份证信息进行识别和比对。 图有利有合理的理由怀疑用户使用虚假身份注册时，有权拒绝注册或者注销已经注册的账户。</li>
                    <li><p>13.3</p>图有利参照《金融机构大额交易和可疑交易报告管理办法》的规定，保存大额交易和有洗钱嫌疑的交易记录，在监管机构要求提供大额交易和可疑交易的记录时，向监管机构提供。</li>
                    <li><p>13.4</p>图有利对用户身份信息以及大额交易、可疑交易记录进行保存，依法协助、配合司法机关和行政执法机关打击洗钱活动， 依照法律法规的规定协助司法机关、海关、税务等部门查询、冻结和扣划客户存款。</li>
                    <li><p>13.5</p>根据国家反洗钱政策及保障客户资产安全，汇款人姓名必须和实名认证姓名一致 。</li>
                </ul>
            </div>
            <div class="part">
                <h2>十四、风险提示</h2>
                <ul>
                    <li><h3><p>14.1</p></h3>升值币交易有极高的风险。</li>
                    <li><p>14.1.1</p>升值币市场是全新的、未经确认的，而且可能不会增长。目前，升值币主要由投机者大量使用， 零售和商业市场使用相对较少，因此升值币价格易产生波动，并进而对升值币投资产生不利影响。</li>
                    <li><p>14.1.2</p>升值币市场没有像中国股市那样的涨跌停限制，同时交易是24小时开放的。升值币由于筹码较少， 价格易受到庄家控制，有可能出现一天价格涨几倍的情况，同时也可能出现一天内价格跌去一半的情况。</li>
                    <li><p>14.2</p>参与升值币交易，用户应当自行控制风险，评估升值币投资价值和投资风险，承担损失全部投资的经济风险。</li>
                    <li><p>14.3</p>因国家法律、法规和规范性文件的制定或者修改，导致升值币的交易被暂停、或者禁止的，因此造成的经济损失全部由用户自行承担。
                    </li>
                </ul>
            </div>
            <div class="part">
                <h2>十五、违约责任</h2>
                <ul>
                    <li><p>15.1</p>图有利或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。</li>
                    <li><p>15.2</p>如因用户提供的信息不真实、不完整或不准确给图有利造成损失的，图有利有权要求用户对图有利进行损失的赔偿。					</li>
                    <li><p>15.3</p>如因用户违反法律法规规定或本协议约定，在图有利或利用图有利服务从事非法活动的， 图有利有权立即终止继续对其提供图有利服务，注销其账号，并要求其赔偿由此给图有利造成的损失。</li>
                    <li><p>15.4</p>如用户以技术手段干扰图有利的运行或干扰其他用户对图有利使用的，图有利有权立即注销其图有利账号，并有权要求其赔偿由此给图有利造成的损失。</li>
                    <li><p>15.5</p>如用户以虚构事实等方式恶意诋毁图有利的商誉，图有利有权要求用户向图有利公开道歉，赔偿其给图有利造成的损失，并有权终止对其提供图有利服务。</li>
                </ul>
            </div>
            <div class="part">
                <h2>十六、争议解决</h2>
                <ul>
                    <li><p>16.1</p>用户与图有利因本协议的履行发生争议的应通过友好协商解决，协商解决不成的，任一方有权将争议提交北京仲裁委员会依据该会仲裁规则进行仲裁。</li>
                </ul>
            </div>
            <div class="part">
                <h2>十七、协议的生效和解释</h2>
                <ul><li><p>17.1</p>本协议于用户点击图有利注册页面的同意注册并完成注册程序、获得图有利账号和密码时生效，对图有利和用户均具有约束力。</li></ul>
            </div>
            <div class="agreen">
            	<form>
                    <p><input type="checkbox" />我已阅读并同意以上协议</p>
                    <button type="button" value="同意" onclick="javascript:history.go(-1)">同意</button>
                </form>
            </div>
        </div>
    </div>
<div class="lanrenzhijia_service">
  <ul>
    <span class="right_bar"></span>
    <a href="http://wpa.qq.com/msgrd?v=3&uin=1157438691&site=qq&menu=yes" class="right_qq" target="_blank"></a>
    <span class="right_phone">4006-825-078</span>
  </ul>
</div>
{literal}
<script>
$(function(){
	$(".lanrenzhijia_service").hover(function(){
		$(this).animate({width:'160px'});
	},function(){
		$(this).animate({width:'40px'});
	});
});
</script>
{/literal}
</body>
</html>